/* add custom styles */

body {
  padding-top: 70px;
}

footer {
  margin: 50px 0;
}

.btninfo{
  position: fixed;
  height: 200px;
  background: black;
  color: white;
  margin-left: 10px;
}

.showStats{
  height: 100px;
  background: black;
}
